{% extends 'base.html' %}

{% block body %}
<div class="back user_history">
	<h2 style="text-align: center;"> History </h2>

	<div class="container col-lg-7 col-10" >

		<ul class="nav nav-tabs" style="background-color: white;">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#">Skin Images History</a>
		  </li>
		</ul>



		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col" nowrap>date</th>
		      <th scope="col">Image</th>
		      <th scope="col">Status</th>
		      <th scope="col">Delete</th>
		    </tr>
		  </thead>

		  {% for individual in history %}
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td nowrap>{{individual.date}}</td>

		      {% load static %}
		      <td> <img src="{{individual.image.url}}"/> </td>
		      <td>{{individual.status}}</td>
		      <td> 
		      	<a href="{% url 'user_history_delete' id=individual.id %}" class="btn btn-danger">Delete</a>
		      </td>
		    </tr>
		  </tbody>
		  {% endfor %}

		</table>

		<div class="pagination">
			<span class="step-links">
		        {% if history.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ history.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ history.number }} of {{ history.paginator.num_pages }}
		        </span>

		        {% if history.has_next %}
		            <a href="?page={{ history.next_page_number }}">next</a>
		            <a href="?page={{ history.paginator.num_pages }}">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>

	</div>

</div>

{% endblock %}