{% extends 'base.html' %}

{% block body %}

<div class="back user_consultation">
	<h2 style="text-align: center;"> Consultation </h2>

	<div class="container row" style="margin:auto;">
		<div class="col-4">
			<h5> Make an appointment </h5>
			<span> List of doctor </span>

			<ul>
				<li> Dr. Alex  (Available)</li>
				<li> Dr. John  (Available)</li>
			</ul>
		</div>

		<div class=" col-lg-8 col-10" >

			<iframe width="650" height="750" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="https://chatroll.com/embed/chat/w8z5?id=Rs47PO_VWnN&platform=html"></iframe>

		</div>
	</div>

</div>

{% endblock %}