{% extends 'base.html' %}

{% block body %}

<div class="back user_upload_image">
	<div class="container col-lg-5 col-10" >
		{% if messages %}
			   {% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				   <div class="alert alert-success" role="alert" style='margin-bottom: 10px;margin-top: 10px;'>{{ message }}</div> 
				   {% endif %}
			   {% endfor %}
		{% endif %}

		<h1> Upload Image To Analyze </h1>
		<span style="text-align: center;display: block;color: grey;"> Be carefull with the focus of the image because it can cause wrong results <hr/></span>

		<div class="imgShow">
			<img id="preview" />
		</div>

		<form method="post" action="{% url 'user_upload_image' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			  <label for="image">Upload image</label>
			  <input type="file" class="form-control" id="image"  placeholder="image" name="image"  autocomplete="off" onchange="readURL(this);">
			</div>

			{% if messages %}
			   {% for message in messages %}
				   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger" role="alert" style='margin-bottom: 10px;margin-top: 10px;'>{{ message }}</div> 
				  	{% endif %}
			   {% endfor %}
			{% endif %}

			<button type="submit" class="btn btn-primary" style="margin-top: 10px;" name="submit" value="upload">Upload</button>

		</form>

		<div class="image_result">
			<h4> Result : </h4>
			<img src="{{image.url}}" style="max-width: 300px;height: auto;"/>
			<div> {{result}} </div>
		</div>

	</div>

	
</div>

		
{% endblock %}


{% block script %}
<script type="text/javascript">
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview')
                .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %}


