.nav{
	width: 100%;
	background:lightgrey;
	padding-top: 8px;
	color:white;
}
.nav .title{
	color: maroon;
	font-size: 26px;
	margin-left: 20px;
	margin-top: -5px;
}

.nav ul li{
	float: left;
	list-style-type: none;
	margin-left: 30px;
	cursor: pointer;
}
.nav ul li a{
	color: white;
}

.nav ul li a:hover{
	color: maroon;
	text-decoration: underline;
}

.back{
	background: lightgrey url('/static/background2.jpeg');
	min-height: 700px;
	width:100%;
}

.homepage_main h1{
	text-align: center;
	margin-top: 50px;
}

.login{
	width: 500px;
	margin:auto;
	border:2px double lightgrey;
	padding:20px;
	margin-top: 100px;
	background-color: white;
}
.login button{
	margin-top: 10px;
}


/* for user_upload_image */
.user_upload_image{
	margin-top: 60px;
}
.user_upload_image h1{
	text-align: center;
}

.user_upload_image .imgShow{
	width: 100%;
	height: auto;
	min-height: 300px;
	border:2px solid grey;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
}

.user_upload_image input{
	max-width: 400px;
}
.user_upload_image button{
	float: left;
}
.user_upload_image #preview{
	margin:auto;
	display: block;
}
.user_upload_image img{
	width: 80%;
	height: 100%;
	max-height: 300px;
}
.image_result{
	margin-top: 80px;
}


/* for user_history */
.user_history{
	overflow-x: auto;
}
.user_history h2{
	margin-top: 20px;
}
.user_history table{
	margin-top: 20px;
	background-color: white;
	border:1px solid grey;
	width: 100%;
	margin-bottom: 10px;
}
.user_history table tr{
}
.user_history table img{
	max-width: 80%;
}

.user_consultation{
	margin-top: 25px;
}
.user_consultation iframe{
	margin:auto;
	display: block;
	margin-top: 20px;
}

footer{
	background-color: grey;
	width: 100%;
	height: 120px;
	margin-top: 50px;
}
footer span{
	display: block;
	color:lightgrey;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}


